*,
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-button:single-button {
  background-color: black;
  width: 50px;
}

::-webkit-scrollbar-thumb {
  background: black;
  height: 100px;
}

::-webkit-scrollbar-track-piece {
  background: var(--cheatsheet-bg);
}



#searchElement {
  display: flex;
  justify-content: center;
  margin: 0%;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchbar {
  margin: 2rem 0rem;
  width: 75%;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #111111;
  box-shadow: inset 6px 6px 12px #070707,
    inset -6px -6px 12px #1b1b1b;
}

#searchbar:focus {
  width: 80%;
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 0%;
  right: 0%;
  z-index: 99;
  font-size: 30px;
  text-align: center;
  height: 30px;
  width: 30px;
  color: var(--pre-color);
  padding: 10px;
  margin: 15px;
  overflow-x: auto;
  border-radius: 150px;
  background: #111111;
  box-shadow: inset 6px 6px 12px #070707,
              inset -6px -6px 12px #1b1b1b;
}

input[type=text] {
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}

label {
  width: fit-content;
  z-index: 2;
  box-shadow: 0px 0px 8px var(--pre-color);
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  background: var(--a-color);
  cursor: pointer;
  transition-duration: 200ms;
  user-select: none;
}

.container_app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;

}

label:hover {
  box-shadow: 0px 0px 10px var(--pre-color);
}

:root {
  --body-bg-color: #30363d;
  --body-color: rgb(182, 182, 182);
  --cheatsheet-bg: rgba(0, 0, 0, 0.384);
  --pre-bg-color: rgba(0, 0, 0, 0.8);
  --pre-color: rgb(192, 192, 192);
  --pre-box-shadow: rgba(255, 255, 255, 0.1);
  --copy-btn-border: #9a9a9aef;
  --copy-bg-color: rgb(62, 62, 62);
  --copy-btn-hover-bg: #6f6f6fef;
  --copy-btn-active: #1b1b1b;
  --a-color: #efefef;

}

.light-theme {
  --body-bg-color: #dee4e7;
  --body-color: black;
  --cheatsheet-bg: white;
  --pre-bg-color: #edf4f5;
  --pre-color: #717474;
  --pre-box-shadow: rgba(255, 255, 255, 0.1);
  --copy-btn-border: black;
  --copy-bg-color: black;
  --copy-btn-hover-bg: gray;
  --copy-btn-active: #1b1b1b;
  --a-color: #717474;

}

body {
  margin-top: 1%;
  overflow-x: hidden;
  animation: fadeIn 1s 1 ease-in forwards;
  background: #131313;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: fixed;
  color: var(--body-color);
  font-family: "Roboto", sans-serif;
}

section {
  border-radius: 10px;
}

#Bottom {
  text-align: center;
  font-size: 14.5px;
  padding: 20px;
  background-color: var(--pre-bg-color);
  margin-top: 50px;
}

#Top {
  text-align: right;
  font-size: 12.5px;
  padding: 15px;
  background-color: var(--pre-bg-color);
  margin-bottom: 60px;
}

.cheatsheet {
  margin-left: 26%;
  margin-right: 15px;
  padding: 5px;
  border-radius: 5px;
  background: #131313;
  box-shadow: 5px 5px 10px #090909,
    -5px -5px 10px #1d1d1d;
}

code {
  position: relative;
}

code:hover>.copy-btn {
  opacity: 1;
}



pre {
  font-size: 17.5px;
  font-family: monospace, sans-serif;
  padding: 10px;
  color: var(--pre-color);
  margin: 15px;
  overflow-x: auto;
  border-radius: 5px;
  background: #111111;
  box-shadow: inset 6px 6px 12px #070707,
    inset -6px -6px 12px #1b1b1b;
}

.copy-btn {
  position: absolute;
  font-size: 12px;
  cursor: pointer;
  border-radius: 6px;
  right: 20px;
  top: 5px;
  height: 30px;
  width: 30px;
  padding: 5px;
  border: 2px solid var(--copy-btn-border);
  background-color: var(--copy-bg-color);
  opacity: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.copy-btn:hover {
  background-color: var(--copy-btn-hover-bg);
}

.copy-btn:active {
  background-color: var(--copy-btn-active);
}

.copy-btn.copied::after {
  content: "Copied!";
  background: var(--copy-bg-color);
  color: var(--a-color);
  position: absolute;
  left: -13px;
  top: -39px;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid var(--copy-btn-border);
}

pre::-webkit-scrollbar {
  height: 8px;
}

pre::-webkit-scrollbar-track {
  background: grey;
}

pre::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1px solid white;
}

.headings {
  font-size: 17.5px;
  font-family: monospace, sans-serif;
  background-color: var(--pre-bg-color);
  padding: 10px;
  border-radius: 6px;
  color: var(--pre-color);
  margin: 15px;
  overflow-x: auto;
  box-shadow: 0 0 5px 5px var(--pre-box-shadow);

}

p {
  margin: 10px;
  font-size: 17.5px;
}

a {
  text-decoration: none;
  color: var(--a-color);
  transition: all 0.3s;
  text-transform: capitalize;
}

a:hover {
  color: cornflowerblue;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.topics {
  text-align: left !important;
  margin-left: 20px !important;
}


h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

h2 {
  text-align: center;
  font-size: 27.5px;
  margin-top: 40px;
}

h3 {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 10px;
}

h4 {
  font-size: 22.5x;
  margin-top: 20px;
  margin-left: 10px;
}

.img {
  width: 450px;
  position: absolute;
  left: 5vw;
}

.contributors {
  display: flex;
  align-items: center;
  justify-content: left;
}

#footer {
  margin: auto;
  margin-top: 30px;
  margin-left: 26%;
  margin-right: 15px;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
  background: #111111;
  box-shadow:  6px 6px 12px #070707,
              -6px -6px 12px #1b1b1b;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.dwn-btn {
  margin: 10px;
  text-align: center;
}

.share_container {
  margin: 10px 40px;
  text-align: center;
  display: flex;
  align-items: center;
}

.share_container i {
  padding-left: 10px;
  margin-top: 10px;
  font-size: 1.4rem;
}



.download-btn button {
  border: none;
  color: var(--pre-color);
  padding: 12.5px 20px;
  margin: 17.5px;
  border-radius: 5px;
  background: #111111;
  box-shadow: inset 6px 6px 12px #070707,
              inset -6px -6px 12px #1b1b1b;
}

.navbar {
  height: 100%;
  position: fixed;
  top: 0%;
  width: 25%;
  overflow-y: scroll;
  scrollbar-color: hidden;
  bottom: 50px;
  font-family: "Roboto", sans-serif;
}


.navbar-items {
  list-style: none;
}

.navbar-items li {
  padding: 1%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s;
  margin: 10% 0px;
}

.navbar-items li:hover {
  transition: 0.3s;
}

li {
  margin-left: -20px;
}

.sidebar_pre {
  font-size: 17.5px;
  font-family: monospace, sans-serif;
  padding: 10px;
  border-radius: 6px;
  color: var(--pre-color);
  margin: 15px;
  overflow-x: auto;
  border-radius: 5px;
  background: #131313;
  box-shadow: 5px 5px 10px #090909,
    -5px -5px 10px #1d1d1d;
}

.topnav {
  visibility: hidden;
  position: absolute;
}


@media only screen and (max-width: 480px) {

  .navbar {
    display: none;
  }

  body {
    width: 100%;
  }
  
  .cheatsheet {
    margin: 0%;
    margin: 5% 0%;
    width: 87.5%;
  }

  #footer {
    width: 87.5%;
  }

  .download-btn button {
    padding: 12.5px 12.5px;
    margin: 15px;
  }

  .topnav {
    position: relative;
    visibility: visible;
    width: 95%;
  }

  #myLinks {
    display: none;
  }


  .hamburger {
    white-space: pre-wrap;
    margin: 0.75%;
    width: 87.5%;
  }

  .img {
    width: 150px;
  }

}