*, html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  border: 5px solid ;
}

::-webkit-scrollbar-button:single-button {
  background-color: rgb(32, 39, 39);
  height:50 px;
  width: 50px;
}

::-webkit-scrollbar-thumb {
  background: rgb(216, 217, 207);
  height: 100px;
}

::-webkit-scrollbar-track-piece {
  background: black;
}
#icon {
  width: 30px;
  cursor: pointer;
}

.searchbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #fff; */
  width: 35%;
  border-radius: 30px;
  margin: 0 auto;
}

#searchElement{
  display: flex;
  justify-content: center;
}

#searchbar{
  margin-top: 2rem;
  padding: 1em;
  background-color: var(--pre-bg-color);
  color: var(--pre-color);
  border-radius: 30px;
  border: none;
  outline: none
}

#searchbar:focus{
  box-shadow: 0 0 5px 5px var(--pre-box-shadow);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 99;
  font-size: 45px;
  text-align: center;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: black;
  background-color: var(--pre-bg-color);
  color: var(--pre-color);
  padding: 10px;
  margin: 15px;
  overflow-x: auto;
  box-shadow: 0 0px 8px var(--pre-color);
}

input[type=text] {
   width: 30%;
   -webkit-transition: width 0.15s ease-in-out;
   transition: width 0.15s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}

label {

  width: fit-content;
  z-index: 2;
  box-shadow: 0px 0px 8px var(--pre-color);
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  background: var(--a-color);
  cursor: pointer;
  transition-duration: 200ms;
  user-select: none;
}

.container_app {

     display: flex;
     align-items: center;
     justify-content: space-between;
  
}
.search-icon {

  font-size: 20px;


  
}

.toggle-darkmode {
  background-color: var(--pre-bg-color);
}

.sun-icon {
  color: var(--pre-color);
  font-size: 35px;
  transform: translateX(25px);
  transition: 1s;
}

label:hover {
  box-shadow: 0px 0px 10px var(--pre-color);
}

.moon-icon {
  color: var(--pre-color);
  font-size: 35px;
  transform: translateX(25px);
  transition: 1s;
  opacity: 0;
}

#toggle-btn:checked~label>.sun-icon {
  opacity: 0;
  transform: translateX(0px);
}

#toggle-btn:checked~label>.moon-icon {
  opacity: 1;
  transform: translateX(-25px);
}

:root {
  --body-bg-color: #30363d;
  --body-color: rgb(182, 182, 182);
  --cheatsheet-bg: rgba(0, 0, 0, 0.4);
  --pre-bg-color: rgba(0, 0, 0, 0.8);
  --pre-color: rgb(192, 192, 192);
  --pre-box-shadow: rgba(255, 255, 255, 0.1);
  --copy-btn-border: #9a9a9aef;
  --copy-bg-color: rgb(62, 62, 62);
  --copy-btn-hover-bg: #6f6f6fef;
  --copy-btn-active: #1b1b1b;
  --a-color: #efefef;

}

.light-theme {
  --body-bg-color: #dee4e7;
  --body-color: black;
  --cheatsheet-bg: white;
  --pre-bg-color: #edf4f5;
  --pre-color: #717474;
  --pre-box-shadow: rgba(255, 255, 255, 0.1);
  --copy-btn-border: black;
  --copy-bg-color: black;
  --copy-btn-hover-bg: gray;
  --copy-btn-active: #1b1b1b;
  --a-color: #717474;

}

body {
  margin: 0.25%;
  padding: 0;
  overflow-x: hidden;
  animation: fadeIn 1s 1 ease-in forwards;
  background-color: var(--body-bg-color);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: fixed;
  color: var(--body-color);
  font-family: "Roboto", sans-serif;
}

section {
  border-radius: 10px;
}

#Bottom {
  text-align: center;
  font-size: 14.5px;
  padding: 20px;
  background-color: var(--pre-bg-color);
  margin-top: 50px;
}

#Top {
  text-align: right;
  font-size: 12.5px;
  padding: 15px;
  background-color: var(--pre-bg-color);
  margin-bottom: 60px;
}

.cheatsheet {
  margin-left: 250px;
  margin-right: 20px;
  padding: 5px;
  background: var(--cheatsheet-bg);
}

code {
  position: relative;
}

code:hover>.copy-btn {
  opacity: 1;
}

.copy-btn.copied::after {
  content: "Copied!";
  background: var(--copy-bg-color);
  color: var(--a-color);
  position: absolute;
  left: -13px;
  top: -39px;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid var(--copy-btn-border);
}

pre {
  font-size: 17.5px;
  font-family: monospace, sans-serif;
  background-color: var(--pre-bg-color);
  padding: 10px;
  border-radius: 6px;
  color: var(--pre-color);
  margin: 15px;
  overflow-x: auto;
  box-shadow: 0 0 5px 5px var(--pre-box-shadow);
}

.copy-btn {
  position: absolute;
  font-size: 12px;
  cursor: pointer;
  border-radius: 6px;
  right: 20px;
  top: 5px;
  height: 30px;
  width: 30px;
  padding: 5px;
  border: 2px solid var(--copy-btn-border);
  background-color: var(--copy-bg-color);
  opacity: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.copy-btn:hover {
  background-color: var(--copy-btn-hover-bg);
}

.copy-btn:active {
  background-color: var(--copy-btn-active);
}

pre::-webkit-scrollbar {
  height: 8px;
}

pre::-webkit-scrollbar-track {
  background: grey;
}

pre::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1px solid white;
}

.headings{
  font-size: 17.5px;
  font-family: monospace, sans-serif;
  background-color: var(--pre-bg-color);
  padding: 10px;
  border-radius: 6px;
  color: var(--pre-color);
  margin: 15px;
  overflow-x: auto;
  box-shadow: 0 0 5px 5px var(--pre-box-shadow);
  
}

p {
  margin: 10px;
  font-size: 17.5px;
}

a {
  text-decoration: none;
  color: var(--a-color);
  transition: all 0.3s;
  text-transform: capitalize;
}

a:hover {
  color: cornflowerblue;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.topics {
  text-align: left !important;
  margin-left: 20px !important;
}


h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

h2 {
  text-align: center;
  font-size: 27.5px;
  margin-top: 40px;
}

h3 {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 10px;
}

h4 {
  font-size: 22.5x;
  margin-top: 20px;
  margin-left: 10px;
}

.img {
  width: 450px;
}

.contributors {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#footer {
  margin: auto;
  margin-top: 30px;
  margin-left: 250px;
  margin-right: 120px;
  margin-bottom: 30px;
  padding: 5px;
  background: var(--cheatsheet-bg);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.dwn-btn{
  margin: 10px;
  text-align: center;

}

.share_container {
  margin: 10px 40px;

  text-align: center;
  display: flex;
}

.share_container i {
  padding-left: 10px;
  margin-top: 10px;
  font-size: 1.2rem;
}



.download-btn button {
  border: none;
  color: var(--pre-color);
  background-color: var(--pre-bg-color);
  box-shadow: 0 0px 8px var(--pre-color);
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
}

.navbar{
  
  position:fixed;
  top:65px;
  width:250px;
  height: 87%;
  overflow-y: scroll;
  scrollbar-color: hidden;
  bottom:50px;
  font-family: "Roboto", sans-serif;
}
.navbar::-webkit-scrollbar {
  display: none;
}

.navbar-items{
  list-style: none;
}
.navbar-items li{
  /* border: 1px solid blue; */
  padding: 2%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s;
}
.navbar-items li:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(255, 253, 253, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(132, 132, 132, 0.09) 0px -3px 5px;
  transition: 0.3s;
}
li{
  margin-left: -20px;
}
.sidebar_pre{
  white-space: pre-wrap;
  
}
.topnav{
  visibility: hidden;
  position: absolute;
}
@media only screen and (max-width: 600px) {
    

    .searchbar {

          width: 90%;
        
    }

    
}

@media only screen and (max-width: 600px) {
    

    .searchbar {

          width: 90%;
      
    }

    
}

@media only screen and (max-width: 780px)   {

    .searchbar {

        width: 50%;
    }
}

@media only screen and (max-width: 480px){

  .navbar{
    visibility: hidden;
  }

  .cheatsheet{
    margin-left:4%;
    margin-right:4%;
  }

  #footer{
    margin-left: 4%;
    margin-right: 4%;
  }

  .topnav{
    position: relative;
    visibility: visible;
  }
  .non_coll{
    display: flex;
    align-items: center;
  }

  #myLinks{
    display: none;
  }
  .hamburger{
    white-space: pre-wrap;
  }
  .img{
    width:150px;
  }
 
}