@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*,
html {
  scroll-behavior: smooth;
}

body {
  margin-top: 1%;
  padding: 0;
  overflow-x: hidden;
  animation: fadeIn 1s 1 ease-in forwards;
  background: #131313;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: fixed;
  color: white;
  font-family: "Roboto", sans-serif;
}

.cheatsheet {
  margin-left: 26%;
  margin-right: 15px;
  padding: 5px;
  border-radius: 5px;
  background: #131313;
  box-shadow: 5px 5px 10px #090909, -5px -5px 10px #1d1d1d;
}

/* TYPOGRAPHY */

p {
  margin: 15px;
  font-size: 17.5px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

h1 {
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 15px;
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

h3 {
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

/* SCROLL BARS */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #080808;
  height: 100px;
}

pre::-webkit-scrollbar {
  height: 4px;
}

pre::-webkit-scrollbar-thumb {
  background-color: #080808;
}

.navbar::-webkit-scrollbar {
  display: none;
}

/* SEARCH BAR */

#searchElement {
  display: flex;
  justify-content: center;
  margin: 0%;
}

#searchbar {
  margin: 2rem 0rem;
  width: 65%;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #111111;
  box-shadow: inset 6px 6px 12px #070707, inset -6px -6px 12px #1b1b1b;
}

#searchbar:focus {
  width: 85%;
  transition: all 0.4s;
  color: white;
}

.header {
  display: none;
}

/* SCROLL TO TOP BUTTON */

#myBtn {
  display: none;
  position: fixed;
  bottom: 0%;
  right: 0%;
  z-index: 99;
  font-size: 30px;
  text-align: center;
  height: 30px;
  width: 30px;
  color: white;
  padding: 10px;
  margin: 15px;
  overflow-x: auto;
  border-radius: 150px;
  background: #111111;
  box-shadow: inset 6px 6px 12px #070707, inset -6px -6px 12px #1b1b1b;
}

/* INFO BAR */

.contributors {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 10px;
}

.img {
  width: 400px;
  position: absolute;
  left: 205px;
}

/* CODE SNIPPET */

code {
  position: relative;
}

pre {
  font-size: 17.5px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  padding: 12.5px 40px;
  color: rgba(255, 255, 255, 0.852);
  margin: 20px 10px;
  margin-bottom: 35px;
  overflow-x: auto;
  border-radius: 5px;
  background: #111111;
  box-shadow: inset 6px 6px 12px #070707, inset -6px -6px 12px #1b1b1b;
}
.readme-link {
  text-decoration: underline;
  color: rgb(25, 146, 194);
}

/* COPY BUTTON */

.copy-btn {
  position: absolute;
  font-size: 12px;
  cursor: pointer;
  border-radius: 6px;
  right: 20px;
  top: 5px;
  height: 30px;
  width: 30px;
  padding: 5px;
  border: 2px solid #9a9a9aef;
  background-color: rgba(128, 128, 128, 0.534);
  opacity: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.copy-btn:hover {
  background-color: gray;
}

.copy-btn:active {
  background-color: gray;
}

code:hover > .copy-btn {
  opacity: 1;
}

.copy-btn.copied::after {
  content: "Copied!";
  background: rgb(57, 57, 57);
  color: #efefef;
  position: absolute;
  left: -13px;
  top: -39px;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #9a9a9aef;
}

/* BOTTOM NAVBAR */

#footer {
  margin: auto;
  margin-top: 30px;
  margin-left: 26%;
  margin-right: 15px;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
  background: #111111;
  box-shadow: 6px 6px 12px #070707, -6px -6px 12px #1b1b1b;
  display: flex;
  justify-content: space-between;
}

.share_container {
  margin: 10px 40px;
  text-align: center;
  display: flex;
  align-items: center;
}

.share_container i {
  padding-left: 10px;
  font-size: 1.4rem;
}

.download-btn button {
  border: none;
  color: white;
  padding: 12.5px 20px;
  margin: 17.5px;
  border-radius: 5px;
  background: #111111;
  box-shadow: inset 6px 6px 12px #070707, inset -6px -6px 12px #1b1b1b;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

/* SIDE NAVBAR */

a {
  text-decoration: none;
  color: #efefef;
  transition: all 0.3s;
  text-transform: capitalize;
}

a:hover {
  color: cornflowerblue;
}

.share-btn:hover {
  color: gray;
}

.navbar {
  height: 100%;
  position: fixed;
  top: 0%;
  width: 25%;
  overflow-y: scroll;
  scrollbar-color: hidden;
  bottom: 50px;
  font-family: "Roboto", sans-serif;
}

.navbar-items {
  list-style: none;
  margin: 0%;
}

.navbar-items li {
  padding: 1%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s;
  margin: 10% 0px;
}

.navbar-items li:hover {
  transition: 0.3s;
}

.sidebar_pre {
  font-size: 17.5px;
  font-family: monospace, sans-serif;
  padding: 10px;
  border-radius: 6px;
  color: white;
  margin: 15px;
  overflow-x: auto;
  border-radius: 5px;
  background: #131313;
  box-shadow: 5px 5px 10px #090909, -5px -5px 10px #1d1d1d;
}

/* MEDIA QUERY */

@media only screen and (max-width: 480px) {
  .navbar {
    display: none;
  }

  .cheatsheet {
    margin: 3% 1%;
  }

  pre {
    font-size: 14px;
    padding: 10px 15px;
    margin: 10px 5px;
    margin-bottom: 25px;
  }

  p {
    font-size: 14px;
    margin: 15px 5px;
  }

  h1 {
    font-size: 27.5px;
  }

  h2 {
    font-size: 23px;
  }

  h2:first-child {
    margin-top: 40px;
  }

  h3 {
    font-size: 20px;
  }

  .img {
    left: 170px;
  }

  #footer {
    margin: 1%;
    padding: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .share_container i {
    font-size: 1.25rem;
  }

  .header {
    display: flex;
    margin: 0rem;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 65%;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #111111;
    box-shadow: inset 6px 6px 12px #070707, inset -6px -6px 12px #1b1b1b;
  }

  .header:focus {
    width: 75%;
  }
}
