#icon {
  width: 30px;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: flex;
  width: fit-content;
  position: sticky;
  top: 20px;
  right: 20px;
  z-index: 2;
  box-shadow: 0px 0px 20px var(--pre-color);
  border: 2px solid var(--body-color);
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  background: var(--a-color);
  cursor: pointer;
  transition-duration: 200ms;
  /* User select to none just because there appears a binking cursor near the icon when clicked on it. Now it doesn't allow the user to selec that icon and only click*/
  user-select: none;
}

.sun-icon {
  font-size: 20px;
  transform: translateX(25px);
  transition: 1s;
}

label:hover {
  box-shadow: 0px 0px 50px var(--pre-color);
}

.moon-icon {
  font-size: 20px;
  transform: translateX(25px);
  transition: 1s;
  opacity: 0;
}

#toggle-btn:checked~label>.sun-icon {
  opacity: 0;
  transform: translateX(0px);
}

#toggle-btn:checked~label>.moon-icon {
  opacity: 1;
  transform: translateX(-25px);
}

:root {
  --body-bg-color: #30363d;
  --body-color: rgb(182, 182, 182);
  --cheatsheet-bg: rgba(0, 0, 0, 0.4);
  --pre-bg-color: rgba(0, 0, 0, 0.8);
  --pre-color: rgb(192, 192, 192);
  --pre-box-shadow: rgba(255, 255, 255, 0.1);
  --copy-btn-border: #9a9a9aef;
  --copy-bg-color: rgb(62, 62, 62);
  --copy-btn-hover-bg: #6f6f6fef;
  --copy-btn-active: #1b1b1b;
  --a-color: white;

}

.light-theme {
  --body-bg-color: #dee4e7;
  --body-color: black;
  --cheatsheet-bg: white;
  --pre-bg-color: #edf4f5;
  --pre-color: #717474;
  --pre-box-shadow: rgba(255, 255, 255, 0.1);
  --copy-btn-border: black;
  --copy-bg-color: black;
  --copy-btn-hover-bg: gray;
  --copy-btn-active: #1b1b1b;
  --a-color: #90a4ae;

}

body {
  margin: 1%;
  padding: 0;
  overflow-x: hidden;
  animation: fadeIn 1s 1 ease-in forwards;
  background-color: var(--body-bg-color);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: fixed;
  color: var(--body-color);
  font-family: "Roboto", sans-serif;
}

section {
  border-radius: 10px;
}

#Bottom {
  text-align: center;
  font-size: 14.5px;
  padding: 20px;
  background-color: var(--pre-bg-color);
  margin-top: 50px;
}

#Top {
  text-align: right;
  font-size: 12.5px;
  padding: 15px;
  background-color: var(--pre-bg-color);
  margin-bottom: 60px;
}

.cheatsheet {
  margin: 0 auto;
  padding: 5px;
  width: 100%;
  max-width: 900px;
  background: var(--cheatsheet-bg);
}

code {
  position: relative;
}

code:hover>.copy-btn {
  opacity: 1;
}

.copy-btn.copied::after {
  content: "Copied!";
  background: var(--copy-bg-color);
  color: var(--a-color);
  position: absolute;
  left: -13px;
  top: -39px;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid var(--copy-btn-border);
}

pre {
  font-size: 17.5px;
  font-family: monospace, sans-serif;
  background-color: var(--pre-bg-color);
  padding: 10px;
  border-radius: 6px;
  color: var(--pre-color);
  margin: 15px;
  overflow-x: auto;
  box-shadow: 0 0 5px 5px var(--pre-box-shadow);
}

.copy-btn {
  position: absolute;
  font-size: 12px;
  cursor: pointer;
  border-radius: 6px;
  right: 20px;
  top: 5px;
  height: 30px;
  width: 30px;
  padding: 5px;
  border: 2px solid var(--copy-btn-border);
  background-color: var(--copy-bg-color);
  opacity: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.copy-btn:hover {
  background-color: var(--copy-btn-hover-bg);
}

.copy-btn:active {
  background-color: var(--copy-btn-active);
}

pre::-webkit-scrollbar {
  height: 8px;
}

pre::-webkit-scrollbar-track {
  background: grey;
}

pre::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1px solid white;
}

.headings{
  font-size: 17.5px;
  font-family: monospace, sans-serif;
  background-color: var(--pre-bg-color);
  padding: 10px;
  border-radius: 6px;
  color: var(--pre-color);
  margin: 15px;
  overflow-x: auto;
  box-shadow: 0 0 5px 5px var(--pre-box-shadow);
  
}

p {
  margin: 10px;
  font-size: 17.5px;
}

a {
  text-decoration: none;
  color: var(--a-color);
  transition: all 0.3s;
  text-transform: capitalize;
}

a:hover {
  color: cornflowerblue;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.topics {
  text-align: left !important;
  margin-left: 20px !important;
}


h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

h2 {
  text-align: center;
  font-size: 27.5px;
  margin-top: 60px;
}

h3 {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 10px;
}

h4 {
  font-size: 22.5x;
  margin-top: 20px;
  margin-left: 10px;
}

.img {
  width: 250px;
}

.contributors {
  display: flex;
  align-items: center;
}

#footer {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  width: 100%;
  max-width: 900px;
  background: var(--cheatsheet-bg);
  /* display: flex;
  flex-direction: column; */
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.link_button {
  background-color: var(--copy-btn-border);
  color: white;
  font-size: 12px;
  font-family: monospace, sans-serif;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px 5px var(--pre-box-shadow);
}

.link_button:hover {

  transition: transform .1s;
  transform: scale(1.05);
}

.dwn-btn {
  margin: 10px;
  text-align: center;

}

.share_container {
  margin: 10px;
  text-align: center;
  display: flex;
}

.share_container i {
  padding-left: 10px;
  margin-top: 10px;
  font-size: 1.2rem;
}



.dwn-btn button {
  /* background-color: black; */
  border: none;
  color: white;
  padding: 12px;
  border-radius: 6px;
  background: linear-gradient(145deg, #1a1d21, #1f2228);
  box-shadow: 5px 5px 10px #14161a,
    -5px -5px 10px #262a30;

}

.dwn-btn button:hover {
  cursor: pointer;
  border-radius: 6px;
  background: #1d2025;
  box-shadow: inset 5px 5px 10px #14161a,
    inset -5px -5px 10px #262a30;
}



/* gap: 12px; */
/* flex-wrap: wrap; */
/* justify-content: end; */
/* align-items: center;
    margin-bottom: 24px;
    margin-top: 24px; */
/* } 
/* .share-btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  padding: 8px;
  outline: none;
  text-align: center;
  font-size: 0.9em;
  margin: 0 0.2em;
  border-radius: 8px;
  font-weight: 500;
}

.share-btn:focus,
.share-btn:hover {
  text-decoration: none;
  opacity: 0.8;
  color: black;
  font-weight: bolder;
}

.share-btn:active {
  color: #e2e2e2;
} */

/* .share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.stumbleupon { background: #EB4823; }
.share-btn.reddit      { background: #ff5700; }
.share-btn.hackernews  { background: #ff6600; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email       { background: #7c7373; } */